@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --white: #FFF;
    --white-200: #F9F9F9;
    --black: #2B2B2B;
    --purple: #6C63FF;
    --purple-light: #D7D4FF;
    --gray: #555;
    --gray-dark: #2A2A2A;
    --red: #FF6363;
    --blue-light: #63ECFF;
    --pink: #F363FF;
    --green: #63FF73;
    --yellow: #FFDD63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-200);
}

/* HEADER */

header {
    background-color: var(--purple-light);
    height: 100%;
    padding-bottom: 100px;
}

.header-container {
    max-width: 1240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}

.header-text {
    width: 390px;
    padding-top: 140px;
}

.header-text h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    color: var(--black);
}

.header-text p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 32px;
    color: var(--gray);
    margin-top: 15px;
}

.header-text button {
    width: 155px;
    height: 50px;
    margin-top: 40px;

    background-color: var(--purple);
    box-shadow: 0px 5px 5px 0px #1717171A;
    border: none;
    border-radius: 5px;
    
    color: var(--white);
    font-family:  'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
    transition: all 0.4s;
}

.header-text button:hover {
    opacity: 0.9;
}

.header-image {
    margin-top: 90px;
}

.header-image svg{
    width: 100%;
}


/* MAIN */
.main-container {
    max-width: 1240px;
    margin: 0 auto;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: space-between;
    margin-top: 150px;
}

.cards {
    width: 340px;
    height: 423px;
    background: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 60px;
}

.cards-color {
    height: 50%;
}

.red {
    background: var(--red);
}

.blue {
    background: var(--blue-light);
}

.pink {
    background: var(--pink);
}

.green {
    background: var(--green);
}

.yellow {
    background: var(--yellow);
}

.purple {
    background: var(--purple);
}

.cards-text {
    padding: 24px 35px 35px 35px;
}

.cards-text h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--black);
}

.cards-text p {
    margin-top: 30px;
    font: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--gray);
}