@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --white: #FFF;
    --white-200: #F9F9F9;
    --black: #2B2B2B;
    --purple: #6C63FF;
    --purple-light: #D7D4FF;
    --gray: #555;
    --gray-dark: #2A2A2A;
    --red: #FF6363;
    --blue-light: #63ECFF;
    --pink: #F363FF;
    --green: #63FF73;
    --yellow: #FFDD63;
}